<a href="https://colab.research.google.com/github/AmitPrasad212003/Master-Data-Science-and-AI/blob/main/PythonForDA/06_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1Ô∏è‚É£ What is a Tuple? (Internal Meaning)

### Definition

A **tuple** is an **ordered, immutable collection** of elements.

- Once created, **its size and elements cannot be changed**
- Stores **references to objects**, just like lists
- Designed for **data integrity and performance**

```python
t = (1,2,3)

```

---

## 2Ô∏è‚É£ Tuple vs List (Core Difference)

| Feature | List | Tuple |
| --- | --- | --- |
| Mutability | Mutable | Immutable |
| Syntax | `[ ]` | `( )` |
| Performance | Slower | Faster |
| Hashable | ‚ùå No | ‚úÖ Yes (if elements immutable) |
| Use case | Dynamic data | Fixed data |

---

## 3Ô∏è‚É£ Tuple Creation (Edge Cases)

### Normal Tuple

```python
t = (1,2,3)
print(type(t))

```

```
<class'tuple'>

```

---

### ‚ö†Ô∏è Single Element Tuple (VERY IMPORTANT)

```python
t = (5)
print(type(t))

```

```
<class'int'>

```

‚úî This is **NOT a tuple**

### Correct Way

```python
t = (5,)
print(type(t))

```

```
<class'tuple'>

```

‚û°Ô∏è Comma defines the tuple, **not parentheses**

---

## 4Ô∏è‚É£ Tuple Immutability (But Not Fully Immutable)

### Direct Modification ‚ùå

```python
t = (1,2,3)
t[0] =10

```

```
TypeError:'tuple'object does not support item assignment

```

---

### ‚ö†Ô∏è Mutable Object Inside Tuple

```python
t = (1, [2,3])
t[1].append(4)
print(t)

```

```
(1,[2, 3, 4])

```

### Explanation

- Tuple structure is immutable
- **Objects inside can still mutate**

---

## 5Ô∏è‚É£ Tuple Packing & Unpacking (ADVANCED)

### Packing

```python
t =1,2,3
print(t)

```

```
(1,2,3)

```

---

### Unpacking

```python
a, b, c = t
print(a, b, c)

```

```
1 2 3

```

---

### Extended Unpacking

```python
a, *b, c = (1,2,3,4,5)
print(a)
print(b)
print(c)

```

```
1
[2, 3, 4]
5

```

---

## 6Ô∏è‚É£ Tuple Methods (VERY FEW)

### Available Methods

| Method | Definition |
| --- | --- |
| `count(x)` | Count occurrences |
| `index(x)` | First index of value |

### Example

```python
t = (1,2,2,3)
print(t.count(2))
print(t.index(3))

```

```
2
3

```

---

## 7Ô∏è‚É£ Tuple + Operators

### Concatenation

```python
t1 = (1,2)
t2 = (3,4)
print(t1 + t2)

```

```
(1,2,3,4)

```

---

### Repetition

```python
print((1,2) *3)

```

```
(1,2,1,2,1,2)

```

‚ö†Ô∏è Same shallow-copy issue as lists

---

## 8Ô∏è‚É£ Tuple Slicing (Creates New Tuple)

```python
t = (1,2,3,4)
print(t[1:3])

```

```
(2,3)

```

‚úî Always returns a **new tuple**

---

## 9Ô∏è‚É£ Tuple and Hashing (CRITICAL)

### Hashable Tuple

```python
t = (1,2,3)
print(hash(t))

```

‚úî Allowed

---

### ‚ùå Unhashable Tuple

```python
t = (1, [2,3])
hash(t)

```

```
TypeError: unhashabletype:'list'

```

‚û°Ô∏è Tuple is hashable **only if all elements are immutable**

---

## üîü Tuples as Dictionary Keys

```python
d = {(1,2):"A", (3,4):"B"}
print(d[(1,2)])

```

```
A

```

‚úî Common use case in real systems

---

## 1Ô∏è‚É£1Ô∏è‚É£ Performance Insight (WHY TUPLES ARE FAST)

- Fixed size ‚Üí no resizing
- Less memory overhead
- Faster iteration

‚úî Use tuples for **constant data**

---

## 1Ô∏è‚É£2Ô∏è‚É£ Tuple Truth Value

```python
if ():
print("Yes")
else:
print("No")

```

```
No

```

‚úî Empty tuple ‚Üí `False`

---

## 1Ô∏è‚É£3Ô∏è‚É£ Tuple vs List Assignment (IMPORTANT EDGE CASE)

```python
a = (1,2)
b = a
a += (3,)
print(a)
print(b)

```

```
(1,2,3)
(1,2)

```

### Why?

- Tuples are immutable
- `+=` creates **new tuple**
- `b` remains unchanged

---

## üî• TUPLE EDGE-CASE SUMMARY TABLE

| Edge Case | Example | Result |
| --- | --- | --- |
| Single element | `(5)` | int |
| Correct single | `(5,)` | tuple |
| Inner mutation | `(1,[2])` | Allowed |
| Hashable | `(1,2)` | Yes |
| Unhashable | `(1,[2])` | Error |
| `+=` | tuple | New object |
| Slicing | tuple | New tuple |

# PYTHON TUPLE METHODS

| Method | Definition | Syntax | Example | Output | Edge Case |
| --- | --- | --- | --- | --- | --- |
| `count()` | Returns number of occurrences of a value | `tuple.count(x)` | `(1,2,2,3).count(2)` | `2` | Works with nested tuples but counts only top-level elements |
| `index()` | Returns index of first occurrence of a value | `tuple.index(x)` | `(10,20,30).index(20)` | `1` | Raises `ValueError` if value not found |

---

## üîπ METHOD 1: `count()`

### Definition

Counts how many times a specified element appears in the tuple.

### Syntax

```python
tuple.count(value)

```

### Example

```python
t = (1,2,2,3,2)
print(t.count(2))

```

### Output

```
3

```

### Edge Case (Nested Tuple)

```python
t = (1, (2,3),2)
print(t.count(2))

```

```
1

```

‚úî Counts only **top-level elements**, not inside nested tuples.

---

## üîπ METHOD 2: `index()`

### Definition

Returns the **index of the first occurrence** of a specified value.

### Syntax

```python
tuple.index(value)

```

### Example

```python
t = (10,20,30)
print(t.index(20))

```

### Output

```
1

```

### Edge Case (Value Not Found)

```python
t.index(99)

```

```
ValueError: tuple.index(x): xnot in tuple

```

---

## üîπ `index()` with Start & End (ADVANCED)

### Syntax

```python
tuple.index(value, start, end)

```

### Example

```python
t = (1,2,3,2,4)
print(t.index(2,2))

```

### Output

```
3

```

‚úî Searches only in given range.

---

## ‚ö†Ô∏è WHY TUPLES HAVE ONLY 2 METHODS?

| Reason | Explanation |
| --- | --- |
| Immutability | No modification allowed |
| Fixed structure | Size cannot change |
| Safety | Prevents accidental data change |
| Performance | Minimal overhead |

---

## üî• TUPLE METHOD EDGE-CASE TABLE (SUMMARY)

| Edge Case | Code | Result |
| --- | --- | --- |
| Value not present | `(1,2).index(3)` | `ValueError` |
| Nested element | `(1,(2,3)).count(2)` | `1` |
| Duplicate values | `(1,2,2).index(2)` | First index |
| Empty tuple | `().count(1)` | `0` |
| Empty tuple index | `().index(1)` | `ValueError` |

## 2Ô∏è‚É£ BUILT-IN FUNCTIONS APPLICABLE TO TUPLES

| Function | Definition | Syntax | Example | Output | Edge Case |
| --- | --- | --- | --- | --- | --- |
| `len()` | Number of elements | `len(t)` | `len((1,2,3))` | `3` | `()` ‚Üí `0` |
| `max()` | Largest element | `max(t)` | `max((1,9,3))` | `9` | Empty tuple ‚Üí `ValueError` |
| `min()` | Smallest element | `min(t)` | `min((1,9,3))` | `1` | Mixed types ‚Üí `TypeError` |
| `sum()` | Sum of elements | `sum(t)` | `sum((1,2,3))` | `6` | Non-numeric ‚Üí `TypeError` |
| `sorted()` | Returns sorted list | `sorted(t)` | `sorted((3,1,2))` | `[1,2,3]` | Returns list, not tuple |
| `any()` | True if any truthy | `any(t)` | `any((0,1))` | `True` | All false ‚Üí `False` |
| `all()` | True if all truthy | `all(t)` | `all((1,2))` | `True` | Empty tuple ‚Üí `True` |
| `tuple()` | Convert iterable to tuple | `tuple(x)` | `tuple("abc")` | `('a','b','c')` | Nested iterable stays nested |
| `enumerate()` | Index-value pairs | `enumerate(t)` | `list(enumerate((10,20)))` | `[(0,10),(1,20)]` | Returns enumerate object |
| `hash()` | Hash value | `hash(t)` | `hash((1,2))` | hash int | Fails if mutable inside |

---

## 3Ô∏è‚É£ OPERATORS APPLICABLE TO TUPLES

| Operator | Definition | Syntax | Example | Output | Edge Case |
| --- | --- | --- | --- | --- | --- |
| `+` | Concatenation | `t1 + t2` | `(1,2)+(3,4)` | `(1,2,3,4)` | New tuple created |
| `*` | Repetition | `t * n` | `(1,2)*3` | `(1,2,1,2,1,2)` | Shallow copy issue |
| `in` | Membership | `x in t` | `2 in (1,2)` | `True` | O(n) search |
| `not in` | Non-membership | `x not in t` | `3 not in (1,2)` | `True` | Linear search |
| `==` | Value equality | `t1 == t2` | `(1,2)==(1,2)` | `True` | Values compared |
| `is` | Identity | `t1 is t2` | `t1 is t2` | `False` | Memory check |
| `< > <= >=` | Lexicographic compare | `(1,2)<(1,3)` | `True` | First mismatch decides |  |
| `+=` | Tuple extension | `t += (3,)` | `(1,2)->(1,2,3)` | New tuple | Not in-place |

---

## 4Ô∏è‚É£ EDGE CASE SUMMARY TABLE (MOST IMPORTANT)

| Case | Code | Result | Reason |
| --- | --- | --- | --- |
| Single element | `(5)` | int | No comma |
| Correct single | `(5,)` | tuple | Comma defines tuple |
| Mutable inside | `(1,[2])` | Mutable | Inner object changes |
| Hash fail | `hash((1,[2]))` | TypeError | List unhashable |
| `sorted()` | `sorted((3,1))` | list | Not tuple |
| `+=` | `t += (3,)` | New tuple | Immutability |
| Empty `all()` | `all(())` | True | Logical identity |
| Empty `any()` | `any(())` | False | No truthy value |

In [ ]:
t = (1,2,3,4)

In [ ]:
type(t)

tuple

In [ ]:
t = ('hello', 5, 5.5)
t

('hello', 5, 5.5)

In [ ]:
len(t)

3

In [ ]:
t1 = ('hello', 5, 5.5, [2,3,4])

In [ ]:
var = t1[3]
type(var)

list

In [ ]:
var[1]

3

In [ ]:
t1[3][1]

3

In [ ]:
len(t1)

4

    Tuples can be defined in various ways

In [ ]:
t1 = 1,2,3,4,5
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
t1 = 1.2,
type(t1)

float

In [ ]:
len(t1)

1

In [ ]:
t2 = (2,)

In [ ]:
t3 = 2,

In [ ]:
type(t3)

tuple

In [ ]:
#single value tuple

t2 = 1,
print(t2)

(1,)

In [ ]:
t3 = (1,)
print(t3)

(1,)

In [ ]:
#This is not a tuple

t4 = 1
t5 = (1)

In [ ]:
type(t5)

int

#### Indexing in tuple

In [ ]:
t = ("Mumbai", 10, "Python", 100)

In [ ]:
len(t)

4

In [ ]:
t[2:]

('Python', 100)

In [ ]:
str1 = "HELLO WORLD"
str1[6:]

'WORLD'

In [ ]:
#gives the element at index location 0 i.e. 1st element

print(t[0])

#gives the element at index location 1

print(t[1])

Mumbai
10

#### Slicing

In [ ]:
#slicing first 2 elements from t

t = ("Mumbai", 10, "Python", 100)

t[0:2]

('Mumbai', 10)

In [ ]:
t[2:]

('Python', 100)

In [ ]:
t[-2:]

('Python', 100)

In [ ]:
#slicing last 2 elements from t

t[-2:]

('Python', 100)

In [ ]:
#find the number of elements in a tuple

len(t)

4

#### Concatenation

In [ ]:
tup1 = ("welcome", "to", "today's")
tup2 = ("class", "on", "python")

In [ ]:
tup3 = tup1 + tup2

In [ ]:
tup3

('welcome', 'to', "today's", 'class', 'on', 'python')

#### min, max, sum functions

In [ ]:
t = (2,4,6,8)
sum(t)

20

In [ ]:
t = (2,4,6,'hello')
sum(t)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
t = (2,4,6,8)
min(t)

2

In [ ]:
t = (2,4,6,8)
max(t)

8

In [ ]:
t = (5.5, 4.2, 5, 9)
max(t)

9

In [ ]:
tuple1 = (1,2,3,4,"hello", "world", (1,2,3))

In [ ]:
len(tuple1)

7

In [ ]:
tuple1[-1][1]

2

In [ ]:
tuple2 = (1,2,3)
tuple2[1]

2

In [ ]:
tuple1[6][1]

2

#### Immutability

In [ ]:
t = ("Hello!!", "Welcome" , 5, 10, "world", "of", "Analytics!!")

In [ ]:
t[3]

10

In [ ]:
t[2] = "to"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[0:2]

('Hello!!', 'Welcome')

In [ ]:
t[-3:]

('world', 'of', 'Analytics!!')

In [ ]:
#How to update the 2nd and 3rd element

new_tuple = t[0:2] + ("to", "the",) + t[-3:]

In [ ]:
new_tuple

('Hello!!', 'Welcome', 'to', 'the', 'world', 'of', 'Analytics!!')

In [ ]:
#QUESTION

t = ("disco", 12, 4.5)
t[0][2]

's'

#### Sorting a tuple

In [ ]:
t = (2,3,8,5,4,1)
new_var = sorted(t)
print(new_var)
print(type(new_var))

[1, 2, 3, 4, 5, 8]
<class 'list'>

In [ ]:
new_list = sorted(t)
new_list

[1, 2, 3, 4, 5, 8]

In [ ]:
# Type casting

t2 = tuple(new_list)

In [ ]:
t2

(1, 2, 3, 4, 5, 8)

In [ ]:
x = sorted(t)

tuple(x)

(1, 2, 3, 4, 5, 8)

In [ ]:
# Nested tuples

t = (1,5,"Hello","World", ("Java", "Python"))

In [ ]:
t[4][0]

'Java'

In [ ]:
#How to access Java ????

In [ ]:
#QUESTION 1

t = (1, 2, 4, 3)

#What will be the output of t[4]

#QUESTION 2

#Which of the following declarations can be used to create a Python tuple?
#(More than one option may be correct.)

x = ('2')
x = 1,2,
x = ((1,2,3), 4,5)
x = (Hello,'2','3')

In [ ]:
x = ('2')
type(x)

tuple

In [ ]:
x = 1,2,
type(x)

tuple

In [ ]:
x = ((1,2,3), 4,5)
type(x)

tuple

In [ ]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

In [ ]:
tuple2 = ("India", "Delhi", 5, 10, ["Rajkot", "Chennai"])

In [ ]:
tuple1 = (1,2,55,4,19,22)

In [ ]:
list1 = sorted(tuple1, reverse=True)
tuple2 = tuple(list1)
print(tuple2)

(55, 22, 19, 4, 2, 1)

In [ ]:
tuple3 = (1,)
type(tuple3)

tuple