<a href="https://colab.research.google.com/github/AmitPrasad212003/Master-Data-Science-and-AI/blob/main/PythonForDA/13_Control_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2 style = "color:Brown"> Binary Operators</h2>

- works with 2 operands
- Operand can be: a+b --> where a,b are two operands & a+3, where a is an operand, and 3 is a variable

<h2 style = "color:Brown"> Relational Operators</h2>

- type of binary operator
- compares the values on either side of the opeartor and returns and boolean value as True or False.

#### equal to operator

In [ ]:
a = [1,2,30]

In [ ]:
12 == 12

True

<h3 style = "color:Red">Alert!!!</h3>

##### = is an assignment operator, to assign value of an expression on right to a variable on left.

In [ ]:
10 == 5

False

#### not equal to operator

In [ ]:
10 != 5

True

In [ ]:
10 == 5

False

#### greater than operator

In [ ]:
a=10

In [ ]:
a == 5

False

#### less than operator

In [ ]:
10 < 5

False

#### greater than equal to operator

In [ ]:
10 <= 5

False

#### less than equal to operator

In [ ]:
10 >= 5

True

<h2 style = "color:Brown">Decision Making

#### If-Else blocks

In [ ]:
age = 51

In [ ]:
if age < 50:
    print("young")
else:
    print("adult")

adult

In [ ]:
age=25

In [ ]:
if age < 20:
    print("young")
elif age < 30:
    print("mid level")
else:
    print("adult")

mid level

In [ ]:
if <>:
    something
else if <>:
    something else
else if <>:
    something else
else:
    something else

#### Write a program to check value in variable x is even or odd

In [ ]:
x=5

Write a program to pring if x is even or odd --> even, odd

In [ ]:
x=51

In [ ]:
if x % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [ ]:
x = 10

if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

10 is an even number

#### Write a program to accept age of visitor and allows him to PM's party only if he is above 60 years or below 18 years of age

In [ ]:
x = 61


if x < 18 or x > 60:
    print("Going to the party")
else:
    print("Not going")

Going to the party

In [ ]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to the party")
else:
    print("Sorry!! you do not fit in PM's age criteria")

Sorry!! you do not fit in PM's age criteria

#### Write a program which offers various discounts on purchase bills

In [ ]:
shopping_total = 500

if shopping_total >= 5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shopping_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shopping_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")
else:
    print("OOPS!! no discount for you!!!")

OOPS!! no discount for you!!!

#### Example of nested if-else

In [ ]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

In [ ]:
world_cups

{2019: ['England', 'New-Zeland'],
 2015: ['Australia', 'New Zeland'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [ ]:
world_cups[2019]

['England', 'New-Zeland']

In [ ]:
year = int(input("Enter year to check India made it to Finals in 20th century : "))

if year in world_cups :
    if "India" in world_cups[year] :
        print("India made it to Finals")
    else:
        print("India could not make it to Finals")

else:
    print("World cup wasnt played in", year)

Enter year to check India made it to Finals in 20th century : 2011
India made it to Finals

#### Practice Questions

In [ ]:
X = 1

In [ ]:
if <>:
    something
else:
    something else

In [ ]:
1 > 10

False

In [ ]:
1 < 15

True

In [ ]:
X=19

In [ ]:
if (X > 10 & X < 15):
    print('YES')
else:
    print('No')

In [ ]:
if ((X > 10) & (X < 15)):
    print('YES')
else:
    print('No')

No

#### Complete the piece of code to print a maximum of three variables, a, b and c.

In [ ]:
a=21
b=16
c=20

if((a>b) and (a>c)):
    print("a")
elif((b>a) and (b>c)):
    print("b")
else:
     print("c")

a

####  Which sequence of inputs would give the output 'C' 'A' 'D' 'B' over multiple iterations?

- 70, 91, 67, 88 --> C,A, DB
- 74, 93 , 74, 88 --> CACB
- 72, 93, 70, 85 --> CACB

In [ ]:
Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

#### What will the following segment of code print? Try doing this verbally.

In [ ]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

#### What will the following segment of code print? Try solving it verbally.

In [ ]:
True and True

True

In [ ]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

#### Description
Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.


For example, if input_str = 'analytics' then, your output should print 'YES'.


Sample Input:

alpha


Sample Output:

YES

In [ ]:
input_str = 'Hello'

In [ ]:
if input_str[0].lower() == 'a' or input_str[0].lower() == 'e' or input_str[0].lower() == 'i':
    print("YES")
else:
    print("NO")

YES

In [ ]:
if input_str[0].lower() in ['a','e','i','o','u']:
 print('YES')
else:
 print('NO')

NO

In [ ]:
vowels = ['a','e','i','o','u']

if input_str[0].lower() in vowels:
 print('YES')
else:
 print('NO')

In [ ]:
input_str = 'hello analytics'

vowel='aeiou'

if input_str[0].lower() in vowel:
    print("YES")
else:
    print("NO")

NO

In [ ]:
input_str = 'analytics'

if input_str[0].lower() == 'a' or input_str[0].lower() =='e' or input_str[0].lower() == 'i' or input_str[0].lower() =='o'  or input_str[0].lower() =='u':
    print("YES")
else:
    print("NO")

<h2 style = "color:Brown">Iteration

- Repeated execution of a set of statements
- Implemented using 'for' loops & 'while' loops

In [ ]:
1,2,3,4,5,6

9 --> Yes, 9 is greater than all the elements

In [ ]:
l = [1,3,4,2,5,6]

In [ ]:
len(l)

6

In [ ]:
# iterate over list of integers

list_1 = [1,3,4,2,5,6]
for i in list_1 :
    print(i)

1
3
4
2
5
6

In [ ]:
string_1 = "hello world"

string_1[0]

'h'

In [ ]:
# iterate over a string

string = "Himachal Pradesh"


for ch in string:
    print(ch)

H
i
m
a
c
h
a
l

P
r
a
d
e
s
h

In [ ]:
# iterate over a string - modify print using end

string = "Himachal Pradesh"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

H:i:m:a:c:h:a:l: :P:r:a:d:e:s:h:

In [ ]:
students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}

In [ ]:
students_data

{1: ['Sam', 24],
 2: ['Sharma', 25],
 3: ['Saina', 26],
 4: ['Saif', 24],
 5: ['Varun', 27]}

In [ ]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [ ]:
for v in students_data.values():
    print(v)

['Sam', 24]
['Sharma', 25]
['Saina', 26]
['Saif', 24]
['Varun', 27]

In [ ]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [ ]:
# iterate over values of a dictionary
for value in students_data.values():
    print(value[0])

Sam
Sharma
Saina
Saif
Varun

### Range function

- range(start,end)
- range(1,8) returns 1,2,3,4,5,6,7
- returned sequence would not contain the end value

In [ ]:
# Generate range of values.
range(1, 101)

range(1, 101)

In [ ]:

for i in range(1, 11):
    print(i, end = ".")

1.2.3.4.5.6.7.8.9.10.

In [ ]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [ ]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
ch = ""
while ch != "quit":
    ch = input()
    print(ch)

not quit
not quit
quit
quit

In [ ]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

In [ ]:
x = 0
while x <=20 :
    x += 3
    if x % 5 == 0 :
        continue
    print(x, end = " ")

3 6 9 12 18 21

##### Practice Questions

##### Description

You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case

Sample Input:
['VARMA', 'raj', 'Gupta', 'SaNdeeP']


Sample Output
['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
list_1 = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

In [ ]:
string_1 = "hello world"

In [ ]:
string_1.title()

'Hello World'

In [ ]:
string_1.capitalize()

'Hello world'

In [ ]:
list_1 = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

new_list = []

for items in list_1:
    items = items.capitalize()
    #items = items.title()
    new_list.append(items)
print(new_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
list_1 = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

list_1 = [new_list.capitalize() for new_list in list_1]

print(list_1)

['Varma', 'Raj', 'Gupta', 'Sandeep']

##### title vs capitalize

In [ ]:
string_1 = "hello world"
print(string_1.title())
print(string_1.capitalize())

Hello World
Hello world

##### Question

Which of the following would create a list of negative even numbers from -100 to 0 (-100 included and 0 not included)? [More than one option may be correct.]

- list(range(0, -101, 2))
- list(range(-100, -1, 2))
- sorted(set(range(-2, -101, -2)))
- 4th option is below:

In [ ]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [ ]:
list(range(0, -101, 2))

[]

In [ ]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [ ]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

##### Question

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
type(d)

dict

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

<h2 style = "color:Brown">Comprehensions</h2>
    
- Provide a concise way to construct sequences (lists, sets, dictionaries etc)

In [ ]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))

l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [ ]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [ ]:
l3 = [1,2,3,4,5]

In [ ]:
# iterating over l1 and l2 simultaneaously

for i,j,k in zip(l1,l2, l3):
    print(i, " - ", j, "Number is: ", k)

automobiles  -  11 Number is:  1
Honda  -  5 Number is:  2
Benz  -  4 Number is:  3
Suzuki  -  6 Number is:  4
Morris Garages  -  14 Number is:  5

##### Question

##### Description

You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list.

For example, if the input is 4, the output should be a list as follows:

[1, 4, 9, 16]

The input integer 'n' is stored in the variable 'n'.

In [ ]:
n = int(input())

L3 = [n*n for n  in range(1, n+1)]
print(L3)

9
[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Dictionary comprehension

In [ ]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list
#dict = {key1:value1, key2:value2,.................}
d = {len(i):i for i in l1}

print(d)

{11: 'automobiles', 5: 'Honda', 4: 'Benz', 6: 'Suzuki', 14: 'Morris Garages'}

In [ ]:
for dict_values in d.values():
    print(dict_values)

automobiles
Honda
Benz
Suzuki
Morris Garages

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [ ]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list
#dict = {key1:value1, key2:value2,.................}
d = {len(i) for i in l1}

print(d)

{4, 5, 6, 11, 14}

In [ ]:
#word = input("Enter a word : ")

word = "analytics"
vowels = {i for i in word if i in "aeiou"}
vowels

{'a', 'i'}

##### Practice Questions

##### Description
Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.

Sample Input:
['wood','old','apple','big','item','euphoria']

Sample Output:
['old', 'apple', 'item', 'euphoria']

In [ ]:
input_list=['wood','old','apple','big','item','euphoria']

In [ ]:
new_list = []
for i in input_list:
    if i[0] in 'aeiou':
        new_list.append(i)
print(new_list)

['old', 'apple', 'item', 'euphoria']

In [ ]:
print([i for i in input_list if i[0] in 'aeiou'])

['old', 'apple', 'item', 'euphoria']

##### Question

Following is the code to create a dictionary where the keys are multiples of 3 among the first 100 natural numbers and each value is the cube of the key.

In [ ]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

In [ ]:
# Solution
output_dict= {val : val**3 for val in input_list if val % 3 == 0}

In [ ]:
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

##### Question

What will the output of the following code be?

In [ ]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [ ]:
for j in "def":
    for i in "abc":
        print(i+j)

ad
bd
cd
ae
be
ce
af
bf
cf

##### Question

What will the output of the following code be?

In [ ]:
s = 'a'
s*3

'aaa'

In [ ]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

<h2 style = "color:Brown">Functions</h2>

- A block of organized, reusable code to perform a particular action
- Provide better modularity
- Built-in functions include print(), input(), type() etc
- Syntax

In [ ]:
a=5
b=10
a+b

15

In [ ]:
def sum(a,b):
    return a+b

In [ ]:
sum(51,10)

61

![image.png](attachment:image.png)

#### Ex. Sum of two numbers

In [ ]:
def sum(a=5,b=5):
    c=a+b
    return c

sum(50,60)

110

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [ ]:
range(1,5) --> 1,2,3,4
n --> range(1,n+1)

In [ ]:
def factorial(n):

    fact = 1

    for i in range(1, n+1):
        #fact *= i
        fact = fact*i

    return fact

In [ ]:
factorial(4)
4! = 4*3*2*1

24

#### Default Argument

In [ ]:
def func(name = "default", age = 35):
    print("name : ", name)
    print("age : ", age)

In [ ]:
func("Jane", 25)

name :  Jane
age :  25

In [ ]:
func("Jane")

name :  Jane
age :  35

In [ ]:
func()

name :  default
age :  35

In [ ]:
func("Jane")

name :  Jane
age :  35

In [ ]:
def func(name, age = 35, city = "Mumbai"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)

func("Jane", city = "Banglore")

name :  Jane
age :  35
city :  Banglore

In [ ]:
# Open Item

def var_func(*args):
    print(args)

var_func(1,3,"abc")

(1, 3, 'abc')

<h2 style = "color:Brown"> Lambda Function</h2>

Lambda functions are another way of defining functions to execute small functionalities occurring while implementing a complex functionality. These functions can take multiple parameters as input but can only execute a single expression; in other words, they can only perform a single operation.

In [ ]:
# Traditional Approach

def sum(a,b):
    return a+b

# Lambda Approach

f = lambda a,b: a+b

In [ ]:
sum(2,3)

5

In [ ]:
f(2,3)

5

In [ ]:
sum(5,10)

15

- The format of a lambda expression is as follows:

In [ ]:
function_name  = lambda <space>  input_parameters :  output_parameters

In [ ]:
# Write a lambda funtion to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(11)

'odd'

#### Ex. Write a lambda function to perform addition of two numbers

In [ ]:
f = lambda x, y : x + y

f(2,5)

7

##### Question

##### Description
Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

If x = 2 and y= 3, then the output should be 3.

Sample Input:
['9','3']

Sample Output:
9

In [ ]:
greater = lambda a, b: a if a > b else b
greater(9,31)

31

<h2 style = "color:Brown">map - filter - reduce

Map:

- Utility function in Python
- Maps a collection to another collection object based on certain functionality
- Syntax: map(function,iterable object)

In [ ]:
countries = ["India", "Japan", "Italy", "France"]

#### map the list to obtained the names of countries in upper case

In [ ]:
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

Filter:

- Similar function, but it requires the function to look for a condition and then returns only those elements from the collection that satisfies the condition.

Reduce:

- An operation that breaks down the entire process into pair-wise operations and uses the result from each operation, with the successive element.

#### filter the countries names starting with "I"

In [ ]:
list(filter(lambda x : x.startswith("I"), countries))

['India', 'Italy']

In [ ]:
list(filter(lambda x : x[0]=='I', countries))

['India', 'Italy']

In [ ]:
list(filter(lambda x : x[0].lower()=='i', countries))

['India', 'Italy']

#### reduce the list to concatante the countries names into a single string variable seperated by " "

In [ ]:
from functools import reduce

reduce(lambda x, y : x + " " + y, countries)

'India Japan Italy France'

#### Some more examples on map - filter - reduce

In [ ]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x000002200C31F5C0>
[4, 16, 25]

#### Defining a function and using it in map

In [ ]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [ ]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [ ]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2